---
layout: default
title: Responsive HTML Email Templates for Developers, Marketers &amp; Startups
description: Responsive HTML email templates tested with every mobile and desktop devices. Avoid 2-3 days of coding, get an easy to integrate template that works. Notifications, newsletters, receipts, welcome emails, ready to use with your email service provider.
litmus-preview: "https://litmus.com/checklist/emails/public/a227eb5"

redirect_from: "/index_b.html"
---

<header class="hero">
  <div class="container">
    <h1 class="h1--invert">Responsive HTML Email Templates<br>For <span id="typed">Startups</span></h1>
    <p><a data-scroll href="#templates" class="btn btn-primary btn-primary--invert" onclick="ga('send', 'event', 'button', 'click', 'View-Templates');">View Email Templates</a>
    </p>
    <div class="hero-image">
      <a data-scroll href="#templates"><img src="img/hero.png" alt="Responsive HTML Email Templates" width="1000" onclick="ga('send', 'event', 'img', 'click', 'templates');"></a>
    </div>
  </div>
</header>

<section class="full-section" id="features">
  <div class="container">
    <h2>Why use these responsive email templates?</h2>
    <div class="group">
      <div class="span4">
        <svg class="why-svg"><use xlink:href="img/symbol/svg/sprite.symbol.svg#src--code"></use></svg>
        <h3>Coding email is hard</h3>
        <p>You've tried to code an email template before and run into trouble. </p>
        <p>There are over <strong>30 major email clients</strong> using different rendering engines and various email providers like <strong>Outlook, Gmail, Apple, Yahoo Mail</strong>. Email requires special development skills.</p>
      </div>
      <div class="span4">
        <svg class="why-svg"><use xlink:href="img/symbol/svg/sprite.symbol.svg#src--responsive"></use></svg>
        <h3>Responsive is important</h3>
        <p><strong>Over 50%</strong> of emails are opened on <strong>mobile devices</strong>.</p>
        <p>It is important to consider the experience for iOS and Android users if you really want to get your return on investment. <strong>A broken mobile experience can break your campaign.</strong></p>
      </div>
      <div class="span4">
        <svg class="why-svg"><use xlink:href="img/symbol/svg/sprite.symbol.svg#src--time"></use></svg>
        <h3>Your time is valuable</h3>
        <p><strong>You don't have time</strong> to sit and test email templates all day. </p>
        <p><strong>You have a lot to do.</strong> You have websites to design. You have code to test. You have products to ship. You have campaigns to send. That's why these templates were created for you.</p>
      </div>
    </div>
  </div>
</section>

<section class="full-section full-section-callout">
  <div class="container">
    <blockquote>
      <img src="img/dan.jpg" alt="Dan Denney" class="blockquote-avatar">
      <p>&ldquo;The biggest challenge in creating emails is not Gmail... it's time.&rdquo;</p>
      <cite>&mdash; Dan Denney</cite>
    </blockquote>
  </div>
</section>

<section class="full-section">
  <div class="container">
    <h2>Supported On All Major Email Clients<br>Including Outlook &amp; Gmail</h2>
    <div class="group">
      <div class="span8 flex-valign flex-center">
        <a href="{{ page.litmus-preview }}" onclick="ga('send', 'event', 'img', 'click', 'Litmus-results');" target="_blank" rel=”nofollow”><img src="img/litmuspreview.jpg" alt="Litmus email tests" width="600"></a>
      </div>
      <div class="span4">
        <p>These HTML email templates have been <strong>tried and tested across all major email clients</strong>. They render perfectly and are supported on web, desktop and mobile.</p>
        <ul class="check">
          <li>Microsoft Outlook</li>
          <li>Apple Mail</li>
          <li>Gmail</li>
          <li>Google Inbox</li>
          <li>Yahoo! Mail</li>
          <li>Office 365</li>
          <li>Outlook.com</li>
          <li>AOL Mail</li>
          <li>Mail.ru</li>
          <li>Yandex Mail</li>
          <li>Thunderbird</li>
          <li>iPhone / iPad / iOS / Android</li>
          <li>Chrome / Firefox / Safari / Explorer</li>
        </ul>
        <p><a href="{{ page.litmus-preview }}" onclick="ga('send', 'event', 'href', 'click', 'Litmus-results');" target="_blank" rel=”nofollow”>See our Litmus test results</a></p>
      </div>
    </div>


    <h2>Fully responsive for iPhone, Android, and all mobile devices</h2>
    <div class="group">
      <div class="span4">
        <p>Last year over 50% of emails were opened on mobile devices. You need to make sure your emails don't break for these use cases or you will miss out on opportunities.</p>
        <p>Getting responsive design right for email is hard. <strong>These templates use a special "hybrid" technique</strong> that works across all the major clients. Using this technique the email will know what size of screen it is on and <strong>the design responds accordingly</strong> to ensure the user has the optimal experience.</p>
      </div>
      <div class="span8 flex-valign flex-center">
        <img src="img/responsive.jpg" alt="Responsive email templates" width="500">
      </div>
    </div>
  </div>
</section>

<section class="full-section full-section-callout">
  <div class="container">
    <blockquote>
      <img src="img/jordie.jpg" alt="eMailmonday" class="blockquote-avatar">
      <p>&ldquo;Mobile email will account for 15 to 70% of email opens, depending on your target audience, product and email type.&rdquo;</p>
      <cite>&mdash; Jordie van Rijn</cite>
    </blockquote>
  </div>
</section>

<section class="full-section">
  <div class="container">
    <div class="group">
      <div class="span3">
        &nbsp;
      </div>
      <div class="span6">
        <h2>Works with your email service provider (ESP)</h2>
        <p>These email templates have been designed to <strong>work with any and all ESPs</strong>. There is nothing specific about the implementation that will restrict you from using one or another. They are simply HTML templates.</p>
        <div class="align-center wide-section">
          <p><img src="img/esps.png" alt="Email service providers"></p>
        </div>
        <p>You can use these as is for <strong>transactional emails, marketing and promotional emails, and lifecycle emails</strong>. Or you can think of these as <strong>boilerplate templates</strong> for your own needs and modify accordingly to suit your use case.</p>
        <div class="group">
          <div class="span6">
            <ul class="check">
              <li><a href="https://htmlemail.io/blog/custom-mailchimp-templates">Mailchimp</a></li>
              <li>Mailgun</li>
              <li>Hubspot</li>
              <li>Campaign Monitor</li>
              <li>Marketo</li>
              <li>Constant Contact</li>
              <li>Wordpress</li>
              <li><a href="https://htmlemail.io/blog/custom-intercom-templates">Intercom</a></li>
            </ul>
          </div>
          <div class="span6">
            <ul class="check">
              <li><a href="https://htmlemail.io/blog/custom-sendgrid-templates">Sendgrid</a></li>
              <li>Mandrill</li>
              <li>Shopify</li>
              <li>Salesforce</li>
              <li><a href="https://htmlemail.io/blog/custom-moonmail-templates">MoonMail</a></li>
              <li>Pardot</li>
              <li>Sendwithus</li>
              <li><a href="https://htmlemail.io/blog/custom-customerio-templates">Customer.io</a></li>
            </ul>
          </div>
        </div>
        <h2>Retina ready image assets for high resolution screens</h2>
        <p>In today's world most smartphones have high resolution displays. A lot of emails you see therefore lack the detail and quality that a phone is capable of displaying.</p>
        <p>These templates <strong>come packaged with high resolution image assets so your recipients receive the high quality experience</strong> that they expect when receiving an email on their device.</p>
        <p class="text-center"><img src="img/retina.jpg" alt="Retina ready image assets" width="400"></p>
        <p><strong>Social sharing icons</strong> for Twitter, Facebook, Instagram, Pinterest. <strong>App store buttons</strong> for Apple, Google, Amazon. Sample stock <strong>photography</strong> that you can replace with your own relevent imagery.</p>
      </div>
      <div class="span3">
        &nbsp;
      </div>
    </div>
  </div>
</section>

<section class="full-section full-section-callout">
  <div class="container">
    <blockquote>
      <img src="img/mark.jpg" alt="Mark Studebaker" class="blockquote-avatar">
      <p>&ldquo;I played around with other templates... what a pain in the butt. Your templates worked great! Love that you had them tested using Litmus and were WELL WORTH the cost. Great job.&rdquo;</p>
      <cite>&mdash; Mark Studebaker, Flowmingo</cite>
    </blockquote>
  </div>
</section>

{% include templates.html %}

{% include buy.html %}

<section class="full-section section-about">
  <div class="container">
    <h2>Frequently Asked Questions About HTML Email</h2>
    <div class="group">
      <div class="span6">
        <h4>How do I use these with Mailchimp (or other ESPs)?</h4>
        <p>You can copy/paste the template into Mailchimp's email designer and replace the areas you want with merge tags. Read more about <a href="https://htmlemail.io/blog/custom-mailchimp-templates" onclick="ga('send', 'event', 'href', 'click', 'Read-Documentation(FAQ)')"​>using custom templates</a> in our blog.</p>
      </div>
      <div class="span6">
        <h4>I've just downloaded the email templates, how do I quickly test them?</h4>
        <p>Use a tool like <a href="https://putsmail.com/" onclick="ga('send', 'event', 'href', 'click', 'PutsMail(FAQ)');" target="_blank" rel=”nofollow”>PutsMail</a> to quickly test sending an email to yourself. Make sure you use the inlined version of the template.</p>
      </div>
    </div>
    <div class="group">
      <div class="span6">
        <h4>Do these work in the Gmail mobile app?</h4>
        <p>Yes they do. They are responsive and work great in Gmail for mobile. They also work great in all desktop clients, all native mobile clients, and all web clients. <a href="{{ page.litmus-preview }}" onclick="ga('send', 'event', 'href', 'click', 'Litmus-test(FAQ)');" target="_blank">See our Litmus test results here</a>.</p>
      </div>
      <div class="span6">
        <h4>I may have found a bug, how do I report it?</h4>
        <p>We're tracking bugs in <a href="http://github.com/leemunroe/htmlemail/issues" onclick="ga('send', 'event', 'href', 'click', 'this-github-repo(FAQ)');" target="_blank">this GitHub repo</a>. Please create a new issue and we'll respond within 24 hours.</p>
      </div>
    </div>

    <h2>About The Author &amp; Developer<br> Lee Munroe</h2>
    <div class="group">
      <div class="span4">
        <img src="img/leemunroe.jpg" alt="Lee Munroe, email designer and developer">
      </div>
      <div class="span8">
        <p>Lee Munroe is an <strong>Email Designer and Developer</strong> based in San Francisco, California.</p>
        <p>Lee was <strong>Design Lead &amp; Developer Evangelist</strong> at Mailgun by Rackspace, an <strong>email service for developers</strong>, where he open-sourced several email related tools for developers including an automated workflow. His <strong>GitHub stars</strong> for email related developer tools amount to <strong>over 15,000</strong>.</p>
        <p>As well as open-sourcing software, Lee has <strong>spoke at several leading industry conferences</strong> about email development including Litmus Email Design Conference (Boston), WebU (Toronto), Future of Web Design (San Francisco), O'Reilly Fluent Conference (San Francisco).</p>
      </div>
    </div>

    <h2>Over 500 Happy Customers Using These Email Templates in Production</h2>
    <div class="group">
      <div class="span4">
        <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">It was an absolute breeze to have responsive emails in production because of HTMLemail.io<br><br>Highly recommended!</p>&mdash; WeddingWoo (@weddingwoo) <a href="https://twitter.com/weddingwoo/status/771875324061638656">September 3</a></blockquote>

        <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Never create another responsive HTML email again with @leemunroe&#39;s handy pack of common templates HTMLemail.io</p>&mdash; Si Jobling (@Si) <a href="https://twitter.com/Si/status/763680619012452352">August 11</a></blockquote>
      </div>
      <div class="span4">
        <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">coding emails. what fun. at least I have @leemunroe&#39;s cool grunt email workflow to help with the too-much-fun i&#39;m having. i feel less alone!</p>&mdash; Raphaëlle Cantin (@ar_sea) <a href="https://twitter.com/ar_sea/status/722476438276935681">April 19</a></blockquote>

        <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Using @leemunroe’s HTML Email templates, which is saving so much time and headache: HTMLemail.io</p>&mdash; Kyle Gawley (@kylegawley) <a href="https://twitter.com/kylegawley/status/786180013079003136">October 12</a></blockquote>

      </div>
      <div class="span4">
        <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">And if you need a quick start guide into building HTML email templates, may I suggest @LeeMunroe’s fantastic post HTMLemail.io</p>&mdash; Patrick Haney (@notasausage) <a href="https://twitter.com/notasausage/status/674669458917605376">December 9</a></blockquote>

        <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">PROTIP: If you&#39;re building a responsive HTML email from scratch, you can&#39;t beat @leemunroe&#39;s simple starter template HTMLemail.io</p>&mdash; Chris Gabriel (@trampish) <a href="https://twitter.com/trampish/status/667766470433234944">November 20</a></blockquote>

      </div>
    </div>
    <div class="text-center">
      <h4>#1 on Product Hunt</h4>
      <p>Top voted product on launch day with 2,000 votes &amp; ranked #1 in developer tools.</p>
      <p><a href="https://www.producthunt.com/posts/html-email" onclick="ga('send', 'event', 'img', 'click', 'Product-Hunt');​" target="_blank" rel=”nofollow”><img src="img/ph.png" width="150" alt="Product Hunt logo"></a></p>
      <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">I think I love you. I can already feel my email headaches flying away :-)</p>&mdash; Adam Davies
  (Web Developer) <a href="https://www.producthunt.com/posts/html-email#comment-340701">August 11</a></blockquote>
    </div>
  </div>
</section>

{% include exit-overlay.html %}
