<section class="full-section section-buy" id="buynow">
  <div class="container align-center" id="buytemplates">
    <h2 class="h2--invert">Buy and Download HTML Email Templates Today</h2>
    <div class="group">
      <div class="span4 section-buy__feature">
        <h4>Templates</h4>
        <p>Responsive HTML email templates for startups, developers &amp; marketers.</p>
      </div>
      <div class="span4 section-buy__feature">
        <h4>CSS</h4>
        <p>Includes inlined CSS, embedded CSS and external CSS stylesheet.</p>
      </div>
      <div class="span4 section-buy__feature">
        <h4>ESP Support</h4>
        <p>Compatible with all major email service providers.</p>
      </div>
    </div>
    <div class="group">
      <div class="span4 section-buy__feature">
        <h4>Email Client Support</h4>
        <p>Tested on all major desktop, mobile &amp; web clients with Litmus.</p>
      </div>
      <div class="span4 section-buy__feature">
        <h4>Mobile Responsive</h4>
        <p>Fully responsive on mobile devices with 6 column grid.</p>
      </div>
      <div class="span4 section-buy__feature">
        <h4>Retina Ready</h4>
        <p>High resolution compressed image assets included.</p>
      </div>
    </div>
    <div class="group" id="buy">
      <div class="span1">&nbsp;</div>
      <div class="span5">
        <div class="section-buy__panel" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <h4 class="section-buy__heading">
            Single Project License
          </h4>
          <p><strong class="section-buy__price"><span itemprop="priceCurrency" content="USD">$</span><span
            itemprop="price" content="49.00">49</span></strong></p>
          <ul class="section-buy__list">
            <li>10 Responsive email templates</li>
            <li>Ideal for a single app or client</li>
            <li>License to use on one project</li>
          </ul>
          <a href="https://gum.co/emailtemplates?wanted=true" data-gumroad-single-product="true" class="btn btn-primary btn-primary--invert" onclick="ga('send', 'event', 'button', 'click', 'Buy-button');" id="gumroad-button">Get Email Templates</a>
        </div>
      </div>
      <div class="span5">
        <div class="section-buy__panel">
          <h4 class="section-buy__heading">
            Unlimited Project License
          </h4>
          <p><strong class="section-buy__price">$299</strong></p>
          <ul class="section-buy__list">
            <li>10 Responsive email templates</li>
            <li>Ideal for agencies and enterprise</li>
            <li>License to use on multiple projects</li>
          </ul>
          <a href="https://gum.co/emailtemplates?wanted=true" data-gumroad-single-product="true" class="btn btn-primary btn-primary--invert btn-large" onclick="ga('send', 'event', 'button', 'click', 'Buy-button-multi');" id="gumroad-button">Get Unlimited License</a>
        </div>
      </div>
      <div class="span1">&nbsp;</div>
    </div>
    <p class="text-center"><img src="{{ site.url }}/img/cards.png" alt="Visa, Mastercard, PayPal accepted" height="30"></p>
  </div>
</section>

<!-- Gumroad -->
<script src="https://gumroad.com/js/gumroad.js"></script>
