<div class="exit-overlay">
  <div class="exit-modal">
    <h2>Whoa there email maestro!</h2>
    <p>If you don't need the full set of email templates right now, subscribe to our newsletter and we'll send you a free simple responsive HTML email that you can preview, download and use today.</p>
    <p class="align-center"><img src="{{ site.url }}/img/preview-free.jpg" alt="Free email" width="400"></p>
    <form action="//leemunroe.us1.list-manage.com/subscribe/post?u=1998df7f0f3a32bdf922938ca&amp;id=4bf2c8f8b9" method="post" class="subscribe-form__footer">
      <input type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="Email address"> <button type="submit" class="btn btn-primary js-subscribe-exit-overlay" onclick="ga('send', 'event', 'button', 'click', 'Subscribe-Email-List');">Subscribe</button>
    </form>
    <p><a href="#" class="js-close-exit-overlay" onclick="ga('send', 'event', 'button', 'click', 'No-Subscribe-Email-List');">No thanks</a></p>
  </div>
</div>