  <section class="full-section section-bottom-cta">
    <div class="container text-center">
      <a href="/#buynow" class="btn btn-primary btn-primary--invert">Get Email Templates</a>
    </div>
  </section>
  <footer>
    <div class="container">
      <div class="group">
        <div class="span6">
          <h3>Sign Up For Updates</h3>
          <p>When you opt-in we'll send you a sample of a simple responsive HTML email so you can see it in action.</p>
          <form action="//leemunroe.us1.list-manage.com/subscribe/post?u=1998df7f0f3a32bdf922938ca&amp;id=4bf2c8f8b9" method="post" class="subscribe-form__footer">
            <input type="email" value="" name="EMAIL" id="mce-EMAIL-2"> <button type="submit" class="btn btn-primary">Subscribe</button>
          </form>
        </div>
        <div class="span6">
          <ul>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/inline">Inline CSS</a></li>
            <li><a href="https://github.com/leemunroe/htmlemail/issues">Support / Issue Tracker</a></li>
            <li><a href="https://github.com/leemunroe/htmlemail/">Documentation</a></li>
            <li><a href="mailto:hello@htmlemail.io">hello@htmlemail.io</a></li>
            <li><a href="http://twitter.com/htmlemailio">@htmlemailio</a></li>
          </ul>
          <p>Thanks to <a href="https://twitter.com/g13nnsmith" target="_blank" rel=”nofollow”>Glenn</a>, <a href="https://twitter.com/TedGoas" target="_blank" rel=”nofollow”>Ted</a>, <a href="https://twitter.com/dandenney" target="_blank" rel=”nofollow”>Dan</a>, <a href="https://twitter.com/stigm" target="_blank" rel=”nofollow”>Stig</a>, <a href="http://Sivanweb.com" target="_blank" rel=”nofollow”>Daniel</a> and <a href="https://twitter.com/eddywashere" target="_blank" rel=”nofollow”>Eddy</a> for their code reviews.</p>
        </div>
      </div>
    </div>
  </footer>

  <script src="/js/build.js"></script>

  <!-- GA -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-1284993-68', 'auto', {'allowLinker': true});

    window.addEventListener('load', function() {
      window.setTimeout(function() {
        var linkerParam = window.ga ? window.ga.getAll()[0].get('linkerParam') : '';
        var iframe = document.querySelector('.gumroad-overlay-iframe');
        if (iframe) {
          iframe.src += iframe.src.indexOf('?') > -1 ? '&' + linkerParam : '?' + linkerParam;
        }
      }, 2000);
    });

    // Optimizely Universal Analytics Integration
    window.optimizely = window.optimizely || [];
    window.optimizely.push("activateUniversalAnalytics");

    ga('send', 'pageview');
  </script>

</body>
</html>
