<header role="banner" class="header">
  <div class="container container--header">
    <div class="group">
      <div class="span4">
        <nav class="navbar navbar--header">
          <li><a href="/blog"{% if page.layout == "post" or page.nav == "blog" %} class="active"{% endif %}>Blog</a></li>
          <li><a href="/inline"{% if page.nav == "inline" %} class="active"{% endif %}>Inline CSS</a></li>
          <li><a href="/send"{% if page.nav == "send" %} class="active"{% endif %}>Send Email</a></li>
        </ul>
      </div>
      <div class="span4">
        <div class="logo">
          <a href="/"><svg class="logo-svg"><use xlink:href="/img/symbol/svg/sprite.symbol.svg#src--logo-inline"></use></svg></a>
        </div>
      </div>
      <div class="span4 text-right">
        <a href="/#templates" class="btn btn-primary btn-primary--header">Email Templates</a>
      </div>
    </div>
  </div>
</header>