<header role="banner" class="header">
  <div class="container">
    <div class="group">
      <div class="span4">
        <nav class="navbar navbar--header">
          <li><a href="/blog">Blog</a></li>
        </ul>
      </div>
      <div class="span4">
        <div class="logo">
          <a href="/"><svg class="logo-svg"><use xlink:href="/img/symbol/svg/sprite.symbol.svg#src--logo-inline"></use></svg></a>
        </div>
      </div>
      <div class="span4 text-right">
        <a href="/#templates" class="btn btn-primary btn-primary--header">Email Templates</a>
      </div>
    </div>
  </div>
</header>