//**
// CSS Inliner
//**

// Layout
.container--inliner {
  max-width: 2400px;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  padding: $padding/2;
}

// .inliner-container {
//   display: grid;
//   height: 100vh;
//   grid-template-columns: 1fr 1fr;
//   grid-template-rows: 1fr 1fr;
// }

.inliner__input {
  // grid-column-start: 1;
  // grid-column-end: 2;
  // grid-row-start: 1;
  // grid-row-end: 2;
  // padding: 0 $padding/2;
}

.inliner__input,
.inliner__output{
  textarea {
    font-size: 14px;
    height: 300px;
    width: 100%;
  }
}

.inliner__output {
  // grid-column-start: 1;
  // grid-column-end: 2;
  // grid-row-start: 2;
  // grid-row-end: 3;
  // padding: 0 $padding/2;
}

.inliner__preview {
  height: 100vh;
  width: 100%;
  
  .inliner__preview-client {
    box-shadow: 0 20px 40px rgba(0, 0, 0, .5);
    height: calc(100% - 60px);
    max-height: 1000px;

    img {
      display: block;
    }
  }
}





// Preview
.inliner__preview-iframe {
  border: none;
  height: calc(100% - 60px);
  max-height: 1000px;
  width: 100%;
}



// Responsive styles if needed
@include responsive($big-break) {
}
@include responsive($small-break) {
}

// Mobile first styles if needed
// @include mobilefirst($big-break) {
// }
// @include mobilefirst($small-break) {
// }
