//**
// CSS Inliner
//**

// Layout
.container--inliner {
  max-width: 2400px;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  padding: $padding/2;
}

.inliner__input,
.inliner__output{
  textarea {
    font-size: 14px;
    height: 300px;
    width: 100%;
  }
}

.inliner__preview {
  height: 100vh;
  width: 100%;

  .inliner__preview-client {
    filter: drop-shadow(0 20px 40px rgba(0, 0, 0, .5));
    height: calc(100% - 60px);
    max-height: 1000px;
    position: relative;

    img {
      display: block;
    }

    &--mobile {
      margin: 0 auto;
      max-width: 300px;

      .inliner__preview-iframe {
        left: 22px;
        max-height: 440px;
        position: absolute;
        top: 90px;
        width: 256px;
        z-index: 1;
      }
    }
  }
}





// Preview
.inliner__preview-iframe {
  border: none;
  height: calc(100% - 60px);
  max-height: 1000px;
  width: 100%;
}





// Examples
.example {

  margin-bottom: $padding/2;

  img {
    display: block;
    margin: 0 auto $padding/4 auto;
  }

  h5 {
    border-top: 5px solid;
    margin: 0 0 5px;
    padding-top: 5px
  }

  p {
    color: $grey60;
    font-size: 14px;
  }

  &__good {

    h5 {
      border-color: $green;
      color: $green;
    }
  }

  &__bad {

    h5 {
      border-color: $red;
      color: $red;
    }
  }
}



// Responsive styles if needed
@include responsive($big-break) {
}
@include responsive($small-break) {
}

// Mobile first styles if needed
// @include mobilefirst($big-break) {
// }
// @include mobilefirst($small-break) {
// }
