//**
// Main Layout Styles
//**

.header {
  background-color: $primary-color;
  color: white;
  padding: 10px 0;
  position: relative;
  width: 100%;

  // Sticky header
  &__clone {
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    left: 0;
    position: fixed;
    right: 0;
    top: -160px;
    transition: 0.2s top cubic-bezier(.3,.73,.3,.74);
    z-index: 998;
  }
}

// Show sticky header
body.js-show-header .header__clone {
  top: 0;
}





.hero {
  background-color: $primary-color;
  padding: $padding 0;
  text-align: center;

  em {
    color: rgba(white, .8);
  }

  .btn-group {
    margin-bottom: $padding/2;
  }

  h1 {
    margin-top: 0;
  }
}

// Hero image templates
.hero-image {
  margin: $padding auto 0;

  svg {
    max-height: 250px;
  }
}

// Logo
.logo {
  height: 20px;
  margin: 10px 0;
  text-align: center;

  svg {
    max-height: 100%;
    max-width: 100%;
    width: 100%;
  }
}





// Footer
footer {
  background: $grey80;
  color: rgba(255, 255, 255, .8);
  padding: $padding 0;

  a {
    text-decoration: none;

    &:hover {
      color: inherit;
    }
  }
}




// Responsive styles if needed
@include responsive($big-break) {
  .hero {
    padding: $responsive-padding;
  }

  .logo {
    height: 20px;
  }

  header {
    height: auto;
  }

  // Hide sticky header
  .header__clone {
    display: none !important;
  }
}
@include responsive($small-break) {
}

// Mobile first styles if needed
// @include mobilefirst($big-break) {
// }
// @include mobilefirst($small-break) {
// }
