//**
// Templates
//**

.desktop-preview {
  box-shadow: 0 20px 40px rgba(0, 0, 0, .5);

  img {
    display: block;
  }
}

.mobile-preview {
  filter: drop-shadow(0 20px 40px rgba(0, 0, 0, .5));
  position: relative;

  .mobile-preview__screenshot {
    margin-left: 7.1%;
    margin-top: -170%;
    width: 86%;
    z-index: 1;
  }

  img {
    display: block;
  }
}





// Buttons and actions
.template-actions {
  margin-bottom: $padding/2;
  text-align: center;
}

.template-previews {
  margin-bottom: $padding/2;
}



// Responsive styles if needed
@include responsive($big-break) {
}
@include responsive($small-break) {
}

// Mobile first styles if needed
// @include mobilefirst($big-break) {
// }
// @include mobilefirst($small-break) {
// }
