//**
// Project Settings
//**

// Consistent settings

$br: 5px; // Border-radius
$btn-br: 5px; // Button border-radius
$padding: 80px; // Padding and margins
$responsive-padding: 10px; // Padding and margins on mobile
$line-height: 50px; // Consistent height for buttons, inputs etc.
$font-stack:  "Work Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$heading-stack: "Titillium Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

// Responsive breakpoints
$small-break: 480px;
$big-break: 780px;

// HTML Email Brand Colors
$pink: #EE5291; //#E92D79;
$pink20: #F47FAE;
$pink60: #EE5291;
$pink80: #BD004C;
$green: #29D36E;
$red: #E93D2D;
$blue: #2D7BE9;
$yellow: #D9E92D;
$purple: #AE2BCA;
$orange: #FF5831;
$grey20: #FAF8F9;
$grey40: #E6DEE1;
$grey60: #9E818C;
$grey80: #493B41;
$black: #111;

// Project color variables
$primary-color: $pink;
$secondary-color: $purple;
$tertiary-color: $orange;
$quaternary-color: #659157;
$quinary-color: #A1C084;

$gradient1: #B24592;
$gradient2: #F15F79;

$gradient3: #B7C8B5;
$gradient4: #B7C8B5;

$danger-color: $red; // Bad color for errors, validation etc.
$success-color: $green; // Good color for success etc.
$info-color: $blue; // Good color for success etc.
$warning-color: $orange; // Good color for success etc.
$subtle-color: $grey60; // Subtle color for subtle text

$font-color: $grey80;
